.sidebar {
  width: 230px;
  height: 100vh;
  background: linear-gradient(180deg, #1e293b, #334155);
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 12px;
  border-radius: 6px;
  background-color: rgba(255,255,255,0.08);
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #64748b;
  transform: translateX(5px);
}
