body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.content {
  flex: 1;
  padding: 30px;
  background-color: #f4f6f8;
}
.loader {
  font-size: 26px;
  font-weight: bold;
  color: #1e293b;
  background-color: white;
  padding: 30px 50px;
  border-radius: 10px;
  width: fit-content;
  margin: 100px auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
